@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

.header {
  display: flex;
  margin: 0 150px;
  height: 85px;
  justify-content: space-between;
  align-items: center;
}

.header ul {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: right;
}

.header li {
  list-style-type: none;
  padding: 0 20px;
  margin: 0 40px;
  height: 85px;
  align-items: center;
  display: flex;
}

.header_logo {
  height: 60px;
  width: auto;
}

.nav_link {
  text-decoration: none;
  color: #240754;
  font-size: 18px;
  font-weight: 600;
  height: 85px;
  padding-top: 65px;
}

.footnav{
  display: flex;
  justify-content: left;
}
.foot_link {
  text-decoration: none;
  color: #240754;
  font-size: 16px;
  font-weight: 600;
  height: 85px;
  padding: 0 10px;
    
}

ul :hover {
  box-shadow: 0 10px inset #240754;
}

.nav_button {
  margin: 15px 0px 15px 40px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f86a6a;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.hero {
  height: 995px;
  background: url("/img/park_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__text__large,
.hero__text__small {
  font-weight: 800;
  text-align: center;
  color: #fff;
  filter: drop-shadow(0px 0px 4px #00000080);
}

.hero__text__large {
  padding: 10% 0 10px;
  font-size: 64px;
}

.hero__text__small {
  font-size: 36px;
}
h1 {
  padding: 0 0 5px;
  font-weight: 800;
  font-size: 44px;
  text-align: center;
  color: #240754;
}
h2 {
  font-weight: 800;
  font-size: 28px;
  text-align: center;
  color: #240754;
}


h3 {
  padding: 0 0 5px;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  color: #240754;
}

.map,
.legend {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
}

.border {
  margin: 10px 0 20px;
  border: 1px solid #653cad;
}

.map {
  margin: 0 5% 0;
  width: 60%;
}

.legend {
  width: 25%;
}

.maplabel {
  display: inline-block;
  margin: 0 15px;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  background-color: #ef4e4e;
  color: white;
}

.legend li {
  list-style-type: none;
  margin: 10px 5px;
  vertical-align: center;
  padding: 10px 0;
  background-color: #eae2f8;
  color: #724bb7;
  font-weight: 800;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #00000080;
}

.legend li:hover {
  background-color: #a081d9;
  color: white;
  cursor: pointer;
  box-shadow: 10px 5px 5px #00000080, 10px 5px 5px #ffff0050;
}

.ridesNavigationImage {
  width: 420px;
  height: 525px;
  border-radius: 30px;
  object-fit: cover;
}

.ridesImage {
  width: 420px;
  height: 525px;
  border-radius: 30px;
  object-fit: cover;
}

.freeSpaceImage {
  width: 420px;
  height: 320px;
  border-radius: 30px;
  object-fit: cover;
}
.container {
  vertical-align: center;
  margin: 2% 2% 2%;
  padding: 2% 0px;  
  text-align: center;
  background-color: white;
  box-shadow: 10px 5px 5px #00000080;
  outline: solid #a081d9; 
  border-radius: 30px;   
}

.container2 {
  vertical-align: center;
  padding:3%;
  margin: 5% 5%;  
  text-align: center;
  background-color: white;
  border-radius: 30px; 
  font-size: 28px;
  font-weight: 500;
  color: #240754;
}

.container3 {
  vertical-align: center;
  padding: 3%;
  margin: 10% 0;  
  text-align: left;
  background-color: white;
  border-radius: 30px; 
  font-size: 28px;
  font-weight: 500;
  color: #240754;
}
.rides {
  text-decoration: none;
  font-weight: 600;
  font-size: 36px;
  color: #240754; 
}

.attractions {
  text-decoration: none;
  font-weight: 600;
  font-size: 36px;
  color: #240754; 
}

.freeSpace {
  text-decoration: none;
  font-weight: 600;
  font-size: 36px;
  color: #240754; 
}

.coaster {
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  top: 65%;
  left: 45.5%;
  
}

.topSpin {
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  text-align: center;
  top: 70%;
  left: 47%;
  
}

.enterprise {
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  top: 95%;
  left: 46%;
  
}

.swing {
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  top: 100%;
  left: 44.5%;
  
}

.picnic {
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  top: 60%;
  left: 74.5%;
  
}

.arbor {
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  top: 65%;
  left: 78.2%;
  
}

.castle {
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  top: 60%;
  left: 12%;
  
}

.fountain{
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  top: 65%;
  left: 12%;
  
}
.ring {
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  top: 70%;
  left: 10%;
  
}

.balloon {
  text-decoration: none;
  display: flex;
  font-weight: 600;
  font-size: 28px;
  color: #240754;
  position: absolute;
  top: 70%;
  left: 18%;
  
}


.orangeBackground {
    background: rgba(248, 106, 106, 0.2);
}

.violetBackground {
    background: rgba(114, 75, 183, 0.2);
}

.roundedCorners70 {
  border-radius: 70px
}

.column {
  margin: 0px 0px 0px;
  float: left;
  vertical-align: center;
  width: 33.33%;
    
}

.column2 {
  float: left;
  vertical-align: center;
  width: 25%;
  padding: 0 0 5%;
    
}

.column3 {
  float: left;
  vertical-align: center;
  width: 50%;
  padding: 0 0 5%;
    
}


.row::after {
  content: "";
  clear: both;
  display: flex;
}

.triangleRight {
  float: left;
  margin-left: 15px;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 30px solid #240754;
  border-bottom: 15px solid transparent;
}

