@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

.header {
  display: flex;
  margin: 0 150px;
  height: 85px;
  justify-content: space-between;
}

.header ul {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: right;
}

.header li {
  list-style-type: none;
  padding: 0 20px;
  margin: 0 40px;
  height: 85px;
  align-items: center;
  display: flex;
}

.nav_link {
  text-decoration: none;
  color: #240754;
  font-size: 18px;
  font-weight: 600;
  height: 85px;
  padding-top: 65px;
}

ul :hover {
  box-shadow: 0 10px inset #240754;
}

.nav_button {
  margin: 15px 0px 15px 40px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f86a6a;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

.hero {
  height: 995px;
  background: url("/img/park_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__text__large,
.hero__text__small {
  font-weight: 800;
  text-align: center;
  color: #fff;
  filter: drop-shadow(0px 0px 4px #00000080);
}

.hero__text__large {
  padding: 10% 0 10px;
  font-size: 64px;
}

.hero__text__small {
  font-size: 36px;
}

h3 {
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  color: #240754;
}

.map,
.legend {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
}

.border {
  margin: 10px 0 20px;
  border: 1px solid #653cad;
}

.map {
  margin: 0 5% 0;
  width: 60%;
}

.legend {
  width: 25%;
}

.maplabel {
  display: inline-block;
  margin: 0 15px;
  width: 1.3em;
  height: 1.3em;
  line-height: 1.3em;
  border-radius: 50%;
  text-align: center;
  vertical-align: center;
  background-color: #ef4e4e;
  color: white;
}

.legend li {
  list-style-type: none;
  margin: 10px 5px;
  vertical-align: center;
  padding: 10px 0;
  background-color: #eae2f8;
  color: #724bb7;
  font-weight: 800;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 10px 5px 5px #00000080;
}

.legend li:hover {
  background-color: #a081d9;
  color: white;
  cursor: pointer;
  box-shadow: 10px 5px 5px #00000080, 10px 5px 5px #ffff0050;
}
